@charset "UTF-8";

#boxA:after {
  content: "";
  display:block;
  clear: both;
}

#box2 {
  float: left;
  width: 300px;
  /*height: 280px;*/
  /* 높이가 커지며 하단에 있던 box3를 우측으로 밀어냄*/
  /* 단 이 때 box1 + box3의 너비가 100% 이하여야 함 */
  /* 아닐경우 개행함 */
}
#box3 {
  float: none;
  width: 50%;
  width: auto;
  margin-left: 300px;
  /*font-size: 15px;*/

}
