@charset "UTF-8";

body	{font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif}

/* 사이트 이름 */
.site h1 a {
	color:#000;
	text-decoration: none;
}

.site h1 {
	margin: 0;
	font-size: 30px;
}

.menu ul {
	margin:0;
	padding:0;
	list-style: none;
}

.menu li a {
    display: block;    /*하나의 가로열을 모두 차지한다.*/
    padding: 5px;
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #d88;
    transition: 0.5s;
}

.menu li a:hover {
	background-color: #ddd;
}

.menu ul:after{
	content: "";
	display: block;
	clear: both;
}

.menu li {
	float:left;
	width: auto;
}

.story {
    border: 1px solid #d55;
}

.story h1 {
    font-size: 30px;
    border-bottom: 1px solid #da1;
    margin-bottom: 50px;
}

.story p {
    border-bottom: 1px solid #da1;
    margin-bottom: 50px;
}


@media (min-width: 768px) {

/* BOX3과 BOX4를 가로 정렬하는 설정 */
.boxA:after	{
	content: "";
	display: block;
	clear: both;
}

.box3	{float: left;
	width: 70%}

.box4	{float: left;
	width: 30%}

}
