@charset "UTF-8";

/* header */
h1{font-size:35px; font-weight:bolder;}
h2{font-size:25px; font-weight:bolder;}

#main_header{
  width:960px;
  margin:0 auto;

  height:160px;
  position: relative;
}

#main_header > #title{
  position: absolute;
  left:20px;
  top:30px;
}

#main_header > #main_gnb{
  position: absolute;
  right:0;
  top:0;
}

#main_header > #main_lnb{
  position: absolute;
  right:0;
  bottom:10px;
}

/* menu_1 */
#main_gnb > ul {
  overflow: hidden;
}

#main_gnb > ul > li {
  float:left;
}

#main_gnb > ul > li > a {
  display: block;
  padding: 2px 10px;
  border: 1px solid black;
}

#main_gnb > ul > li > a:hover {
  background: black;
  color : white;
}

#main_gnb > ul > li:first-child > a {
  border-radius: 10px 0 0 10px;
}

#main_gnb > ul > li:last-child > a{
  border-radius: 0 10px 10px 0;
}

/* menu_2 */
#main_lnb > ul{
  overflow: hidden;
}

#main_lnb > ul > li {
  float : left;
}

#main_lnb > ul > li > a{
  display: block;
  padding: 10px 20px;
  border:1px solid black;
}

#main_lnb > ul > li > a:hover{
  background: black;
  color:white;
}

#main_lnb > ul > li:first-child > a {
  border-radius : 10px 0 0 10px;
}

#main_lnb > ul > li:last-child > a {
  border-radius: 0 10px 10px 0;
}

/* content */
#content{
  width:960px;
  margin:0 auto;

  overflow : hidden;
}

#content > #main_section {
  width:750px;
  float:left;
}

#content > #main_aside {
  width : 200px;
  float : right;
}

/* main section */
#main_section > article.main_article{
  margin-bottom: 10px;
  padding : 20px;
  border : 1px solid black;
}

/* content main_aside */
/* first tab */
input:nth-of-type(1){display:none;}
input:nth-of-type(1) ~ div:nth-of-type(1){display:none;}
input:nth-of-type(1):checked ~ div:nth-of-type(1){display:block;}

/* second tab */
input:nth-of-type(2){display:none;}
input:nth-of-type(2) ~ div:nth-of-type(2){display:none;}
input:nth-of-type(2):checked ~ div:nth-of-type(2){display:block;}

/* tab */
section.buttons{
  overflow:hidden;
}

section.buttons > label{

  /* arrange horizontal*/
  display:block;
  float:left;

  width:100px;
  height:30px;
  line-height:30px;
  text-align: center;
  box-sizing: border-box;
  border:1px solid black;
  background : black;
  color:white;
  cursor: pointer;

}

input:nth-of-type(1):checked ~ section.buttons > label:nth-of-type(1),
input:nth-of-type(2):checked ~ section.buttons > label:nth-of-type(2){
  background: #fff;
  color:black;
}

/* list */
.item{
  overflow:hidden;
  padding: 10px;
  border: 1px solid black;
  border-top: none;
}

.thumbnail{
  float: left;
}

.description{
  float:left;
  margin-left:10px;
}

.description > strong{
  display:block;
  width:120px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

/* footer */
#main_footer {
  width:960px;
  margin:0 auto;
  margin-bottom :10px;

  box-sizing: border-box;
  padding: 10px;
  border : 1px solid black;

  text-align: center;
}
